body {
    background-position: center;
    background-size: cover;
}

canvas {
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}

.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.img1,
.img2,
.img3 {
    font-size: 18px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: aqua;
    color: brown;
    line-height: 2;
    font-size: 15px;
}